body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  color: navy;
}

a:link { color: blue; }
a:visited { color: gray; }
a:active { color: red; }
a:hover { color: blue; }

.tiny { font-size: x-small; }

table {
  border-collapse: collapse;
}

tr { border: none; }

th {
  background-color: #eeeeff;
  text-align: center;
  padding: 3pt;
  position: sticky;
  top: 0px;
}

td.inner {
  width: 18ex;
  padding: 2pt;
  border: none;
}

td {
  width: 36ex;
  text-align: center;
  padding: 4pt;
  border: grey 1px solid;
}

i {
  color: grey;
  font-size: small;
}

.success { color: #007700; }
.failure { color: #ff0000; }
.unstable { color: #d1a900; }
