body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  color: navy;
}

a, a:visited {
  color: blue;
  text-decoration: none;
}
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

.tiny { font-size: x-small; }

table {
  border-collapse: collapse;
}

tr { border: none; }
th { background-color: #eeeeff; }
td { border: grey 1px solid; }

td, th {
  width: 18ex;
  text-align: center;
  padding: 3pt;
}

i {
  color: grey;
  font-size: small;
}

.success { color: #007700; }
.failure { color: #ff0000; }
.unstable { color: #d1a900; }

#loader-container {
  display: flex;
  flex-direction:row;
}

#loader {
  margin-left: 10px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3b3939; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}